* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: gray;
  padding: 16px;
}

.login-card {
  background: #342c2c;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  padding: 24px;
  box-sizing: border-box;
}

.login-title {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  color: #1dd1b6;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label{
  margin-bottom: 8px;
  font-weight: 500;
}

.login-label {
  display: block;
  margin-bottom: 4px;
  font-size: 0.9rem;
  color: #d3cdcd;
}

.form-group input {
  padding: 12px 12px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.error-message {
  color: #d32f2f;
  font-size: 14px;
  margin-top: -8px;
  margin-bottom: 8px;
}

.login-button {
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  background-color: rgb(35, 27, 27);
  color: #ffffff;
  cursor: pointer;
}

.login-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.login-button:hover {
  background-color: #1dd1b6;
}

.login-footer {
  margin-top: 16px;
  text-align: center;
}

.login-footer a {
  color: #1dd1b6;
  text-decoration: none;
}
.login-footer a:hover {
  text-decoration: underline;
}

span {
  font-weight: 1000;
}

.footer {
  text-align: center;
}